
	<!-- Large modal -->
	<div id="<%= id %>Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog <% if ( isLarge == 1 ) { %>modal-lg<% } %> modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<%- include( content ) %>
			</div>
		</div>
	</div>