<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-striped" id="<%=id%>" data-paging-position="right">
                </table>
            </div>
        </div>
    </div>
</div>